
@page "/Settings"
@using Microsoft.Extensions.Logging
@using System.ComponentModel.DataAnnotations;
@using System.Diagnostics;
@inject ILogger<Settings> Logger
@inject IJSRuntime JsRuntime
@LauncherApp.test

<ul class="prev-next" style="align-items:center; display: flex; justify-content: space-between;padding-left:unset">
    <li style="display: flex; ">
        <h1>Settings</h1>
    </li>
    <li style="display: block; ">
        <button class="btn btn-primary" @onclick="SingIn">@SingButtonText</button>
    </li>
</ul>





@if (LauncherApp.db.CollectionExists("Repositories"))
{
    exampleModel.Clear();
    @foreach (var item in LauncherApp.db.GetCollection<Repositories>("Repositories").FindAll())
    {
        RepModel repModel = new();
        repModel.RepId = item.RepId;
        exampleModel.Add(repModel);
        string modFormUser = "form-control";
        string modFormRep = "form-control";
        <EditForm id="@repModel.RepId" Model="@exampleModel" style="padding-bottom:20px;" >
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ul style="margin-bottom: unset;padding-left: unset;"><li style="width:30%;display:inline-block;">User </li><li style="width:30%;display:inline-block;">Rep </li> </ul>
            <input class="@modFormUser" style="width:30%;display:inline-block;" @bind-value="repModel.NameB" />
            <input class="@modFormRep" style="width:30%;display:inline-block;" @bind-value="repModel.repB" />
           
        </EditForm>
        if (repModel.NameB != null)
        {
            IsUserNameValidAttribute a = new();
            if (a.IsValid(repModel.NameB))
                modFormUser = "form-control modified valid";
            else modFormUser = "form-control modified invalid";
        }
        else modFormRep = "form-control modified invalid";
        if (repModel.repB != null)
        {
            IsRepValidAttribute a = new("NameB");
            var b = new ValidationContext(repModel);
            if (a.CisValid(repModel.repB, b) == null)
                modFormRep = "form-control modified valid";
            else modFormRep = "form-control modified invalid";
        }
        else modFormRep = "form-control modified invalid";

    }
    
}
else
{
    exampleModel.Clear();
    NewRepClicked();
}

<button class="btn btn-primary" @onclick="NewRepClicked">Add Rep</button>

@code {

    static string ButtonLoginText()
    {

        return !(TorrentDownloader.client.Credentials == Credentials.Anonymous) ? "Log Out" : "log In";

    }
    string SingButtonText = ButtonLoginText();
    private List<RepModel> exampleModel = new();
    async Task SingIn()
    {
        switch (SingButtonText)
        {
            case ("Log Out"):
                TorrentDownloader.DeliteTokenGitHub();
                break;
            case ("log In"):
                Process.Start(new ProcessStartInfo($"https://github.com/login/oauth/authorize?client_id={LauncherApp.GITHUB_CLIENT_ID}&redirect_uri={LauncherApp.redirect_uri}") { UseShellExecute = true });
                break;
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {

        }
    }
    void NewRepClicked()
    {
        RepModel repModel = new();
        repModel.NameB = " ";
        repModel.repB = " ";
        StateHasChanged();

    }
    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}
